<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body style="margin:50px">
    
    @RenderBody() @* Este elemento hara un wrapping de todo el contenido que se este autorizado la visualizacion *@
</body>
</html>
