
@inject NavigationManager Nav


@page "/"
@using dermanovaPr.Services.InterfaceServices
 <AuthorizeView Roles="Operador">
<button class="btn btn-success" @onclick="citas"> Citas</button>

</AuthorizeView>
<button class="btn btn-success" @onclick="total"> Citas</button>





@code
{
 



    private void citas()
    {

        Nav.NavigateTo("/CitaData");

    }

    private void total()
    {
        Nav.NavigateTo("/cronograma");
    }
    }